.glow {
	z-index: 1;
}  

.sun {
	-webkit-filter: blur(20px) brightness(150%) contrast(100%);
}  

.rock {
	-webkit-animation: glowEffect 1s alternate infinite;
}  
@-webkit-keyframes glowEffect {  
   0% { -webkit-filter: blur(10px)  brightness(100%) }  
   50% { -webkit-filter: blur(10px) brightness(150%) }  
   100% { -webkit-filter: blur(10px) brightness(200%)  }     
}  